@import "tailwindcss";

.scroll-invisivel {
  scrollbar-width: none; 
}
.scroll-invisivel::-webkit-scrollbar {
  display: none; 
}

.passador .controle {
  opacity: 0;
  transition: opacity 0.3s ease; 
}
.passador:hover .controle {
  opacity: 1;
}

html, body {
  background-color: #030712; 
  scrollbar-gutter: stable;
}

 @keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out forwards;
}
